<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>G1_TechShop - Mario y Goomba </title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <style>
            body {
                background-color: #003333;
                color: whitesmoke;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">  
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/ejemplo2.html">Mario y Goomba</a></li>
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/multimedia.html">Multimedia</a></li>
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/iframes.html">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Mario</h1>
            <p>Mario de la 64</p>
        </aside>
        <section>
            <h2>El Mario 64</h2>
            <img src="/img/mario64.jpg" width="150" height="150" alt=""/>
            <h2>El Goomba 64</h2>
            <img src="/img/goomba64.png" width="150" height="150" alt=""/>
        </section>

    </body>
</html>
