<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>G1_TechShop - Mult</title>
        <meta charset="UTF-8"> 
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <style>
            body {
                background-color: #003333;
                color: whitesmoke;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">  
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/ejemplo2.html">Mario y Goomba</a></li>
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/multimedia.html">Multimedia</a></li>
                    <li class="nav-menu-item"><a style="color: #0D0C1D;" class="nav-link-menu-item" href="/iframes.html">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>Incorporacion de multimedia en sitios web</p>    
        </aside>
        <section>
            <article>
                <h2>Dire Dire Docks</h2>
                <p>Video version</p>
                <video width="320" height="240" controls>
                    <source src="/videos/docks.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
            <article>
                <h2>Merry Go Round</h2>
                <p>Audio version</p>
                <audio controls>
                    <source src="/audios/MerryGoRound.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
        </section>
        <footer>
            Todos los derechos reservadores TechShop 2025 &COPY;
        </footer>        
    </body>
</html>
